@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #111111;
    
}

#navigation {
    background-color: #111111;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none; /* Remove underline for a cleaner look */
}

a:hover {
    color: #F05423;
    text-decoration: underline; /* Add underline on hover for clarity */
}

.dropdown-item:hover {
    background-color: #F05423;
    color: #ffffff;
    border-radius: 15px;
}

i:hover {
    color: #F05423;
}

span {
    color: #F05423;
}

button {
    background-color: #F05423;
    color: #ffffff;
    border: 2px solid #F05423;
    text-align: center;
    padding: 10px 20px; /* Increased padding for better appearance */
    border-radius: 5px;
    font-size: 16px; /* Reduced font-size for consistency */
    outline: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

button:hover {
    background-color: #111111;
    color: #F05423;
}

#para {
    font-size: 18px;
    line-height: 1.6; /* Improved line height for readability */
}

#col1 {
    border-radius: 10px;
}

#col1:hover {
    background-color: #F05423;
}

#web {
    color: #F05423;
}

#case {
    font-size: 38px;
    font-weight: 600; /* Added font-weight for emphasis */
}

#g1 {
    border-bottom: 2px solid #ffffff;
    text-align: center;
    padding-bottom: 10px; /* Added padding for spacing */
}

#col2 {
    border-right: 3px solid #F05423;
    padding-right: 20px; /* Added padding for spacing */
}

#btn1 {
    background-color: #F05423;
    color: #ffffff;
    border: 2px solid #F05423;
    text-align: center;
    padding: 10px 20px; /* Increased padding for better appearance */
    border-radius: 5px;
    font-size: 16px; /* Reduced font-size for consistency */
    outline: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

#btn1:hover {
    background-color: #111111;
    color: #F05423;
}

#col2 {
    font-size: 20px;
}

#col4 {
    border-right: 2px solid #F05423;
}

#footer {
    background-color: #1E1E1E;
    padding: 20px; /* Added padding for spacing */
    text-align: center; /* Centered text for better alignment */
    color: #ffffff;
}

#scroll {
    border-top: 2px solid #F05423;
}
